<ngx-spinner bdOpacity=1.0 size="default" color="#black" type="timer" [fullScreen]="true" type="ball-triangle-path">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- Main content -->

<div>

    <!-- /.col -->
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Compose New Message</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <input class="form-control" placeholder="To:" [ngModel]="sendToEmailAddress">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Subject:" [ngModel]="subject">
                </div>
                <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 300px">
{{autoComposedEmailBody}}
                    </textarea>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i>
                        Draft</button>
                    <button type="submit" class="btn btn-primary" (click)="onSendEmail()"><i
                            class="far fa-envelope"></i>
                        Send</button>
                </div>
                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->



    <!-- /.content -->